<div class="col-md-12 marTop30 row">
    <div class="col-md-4">
        <div>
            <p>Template for Feedback file Upload</p>
            <a title="Download" download href="../../assets/files/feedback.xlsx" target="_self" class="btn btn-info">
            <img src="../../assets/files/excel.png" class="img-thumbnail">
                <!-- <button type="button" class="btn btn-default btn-sm"> -->
                    Download
                <!-- </button> -->
            </a>
        </div>
    </div>
    <div class="col-md-12 marTop30">
    <div class="col-md-4 row">
        <p>Upload file</p>
        <input type="file" name="img" (change)="onChooseFiles('feedback',$event)">
    </div>
</div>
<div class="col-md-12 row marTop15">
    <div class="col-md-4 marTop40">
        <button type="button" class="btn btn-default btn-sm btn-primary btn-md" id="submit-btn" (click)="onSubmitFeedBackForm()">
            S u b m i t
        </button>
    </div>
    <br>
    <div class="col-md-12 marTop30">
    <div class="marBot30 row">
    <div id="myProgress marTop30">
            <progress-bar [value]="feedbackProgressBarVal" [max]="100"></progress-bar>
        </div>
    </div>
</div>
    <div *ngIf="isFeedbackFileUploaded" class="col-md-12 marTop30">
            <div class="alert alert-success">
                <strong>File uploaded successfully and is on process.</strong>
            </div>
        </div>


</div>

  
  </div>